body{
    background-image: url(./img/painting-mountain-lake-with-mountain-background_188544-9126.avif);
    background-repeat: no-repeat;
    background-size: 1300px 1000px;
    text-align: center;

}

h1{
    margin-top: 20px;
    font-size: 50px;  
    color: rgb(15, 142, 192); 

}

h2{
    margin-top: 100px;
    font-size: 100px;

}
button{
    
        background-color: rgb(15, 142, 192);
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        
}
div{
    background-color: rgb(175, 243, 236);
}
p{
    font-weight: bolder;
}